#Android
/.idea/
/.gradle/
/local.properties
.DS_Store
/build/
/captures/
/app/build/
/*.iml

#Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
env/
*.sqlite3

#general
*.log
*.csv
*.json
*.db
*.sqlite
*.ipynb_checkpoints
*.pkl

#hidden info
apikeys.json
config.json
